.burger a
{
	border-bottom: 1px solid black !important;
	padding-left : 4em !important;
}

.burger, .cheeseburger-menu-inner
{
	background-color: rgb(64, 64, 64) ;
}

.menu-item
{
	color: whitesmoke;
	font-size: 1.55rem ;
	text-decoration: none ;
	transition: all 0.5s ;
	margin: 0.1em ;
	font-family: 'Mukta', sans-serif;
}