/*.clor
{
	color: black ;
}*/

.ic
{
	display: flex;
	justify-content: center;

}


.map
{
	text-align: center;
}

.align
{
	display: inline-block;
	margin : 10em ;
}

.in
{
	display: block;
	margin : 2rem 2rem ;
	width: 150% ;
	height:	100% ;
}

.but
{
	display: block;
	margin : 2rem 2rem ;
}